.header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.header-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-label {
  font-size: 20px;
  font-weight: normal;
  color: #000;
}

.header-value {
  font-size: 16px;
  color: #000;
}

.header-right {
  position: relative;
}

.connect-button {
  font-family: 'PF Videotext', monospace;
  font-size: 16px;
  padding: 12px 24px;
  background: #fff;
  color: black;
  cursor: pointer;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}

.connect-button:hover {
  background: #333;
  color: white;
}

.menu-button {
  background: none;
  padding: 12px 16px;
  cursor: pointer;
  width: 60px;
  height: 48px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hamburger div {
  width: 24px;
  height: 3px;
  background: #000;
}
