/* TicketRows.css */
.ticket-rows-container {
  border: 1px dashed #000;
  border-left: none;
  padding: 20px;
  background: #fff;
  width: 100%;          /* min-width 대신 */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ticket-rows {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  justify-content: center;
}

.ticket-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ticket-row-label {
  font-size: 24px;
  width: 30px;
  color: #000;
}

.ticket-row-numbers {
  display: flex;
  gap: 12px;
  flex: 1;
}

.ticket-number-slot {
  width: 50px;
  height: 40px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #FF4242;

}

.clear-row-button {
  font-family: 'PF Videotext', monospace;
  font-size: 20px;
  width: 32px;
  height: 32px;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.clear-row-button:hover {
  background: rgba(255, 66, 66, 0.2);
  color: #FF4242;
}
