@font-face {
  font-family: 'PF Videotext';
  src: url('./assets/fonts/PF Videotext Pro Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'PF Videotext', monospace;
}